@{
    ViewData["Title"] = "Start sida";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-4">Vi gör det här tillsammans.</h1>
            <hr />
            <p>Vi tror på att samarbeta. Både med varandra och dig. Det är då vi skapar god arkitektur.</p>
            <p>Kolla in våra referenser så förstår du vad vi menar.</p>
</div>
    </div>  
</div>