@{
    ViewData["Title"] = "Kontakt";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h3>
                Kontakta oss genom att skicka ett e-postmeddelande med knappen nedan
            </h3>

            <email address="stefan.gillsbro@gmail.com" content="Klicka här"></email>
        </div>
    </div>
</div>


