
@{
    ViewData["Title"] = "Shopping Cart Summary";
}

@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="Index">
            <span class="glyphicon glyphicon-shopping-cart"><i class="fas fa-shopping-cart"></i></span>
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}

